{% extends "PatinhadoWeb/Base.html" %}
{% load static %}
{% block title %}Reset Password{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'PatinhadoWeb/css/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-wrapper">
    <div class="login-card">
        <h1>Reset Password</h1>
        <p class="subtitle">Enter your email to receive reset instructions</p>
        <form method="post">
            {% csrf_token %}
            <table class="formulario">
                {{ form.as_table }}
            </table>
            <input type="submit" value="Send Reset Link" class="btn-submit">
        </form>
        <p class="register-link"><a href="{% url 'login' %}">Back to Login</a></p>
    </div>
</div>
{% endblock %}