{% extends "PatinhadoWeb/Base.html" %}
{% load static %}
{% block title %}Password Reset Complete{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'PatinhadoWeb/css/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-wrapper">
    <div class="login-card">
        <h1>Password Reset Complete</h1>
        <p class="subtitle">Your password has been reset. You can now log in.</p>
        <p class="register-link"><a href="{% url 'login' %}">Log In</a></p>
    </div>
</div>
{% endblock %}